<!DOCTYPE html>
<html class="mainHTML">

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <section class="wrapper">
    <div id="stars"></div>
    <div id="stars2"></div>
    <div id="stars3"></div>
    <div id="title">
      <img id="logo" src="/images/logo.4.png" alt="">
      <div class="logInDiv">
        <h1><span class="span1">you</span>pick</h1>
  
        <a href="/auth/google"><img id="logIn" src="/images/logIn.png" alt=""></a>
      </div>
    </div>
  </section>


</body>

</html>