body{
    position: s;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.global-nav{
    width: 100%;
}
.post{
    position: relative;
    border: solid rgba(0, 58, 120, 0.42) 2px;
    width: 650px;
    min-height: 690px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 40px;
    box-shadow: 5px 5px 10px   rgb(199, 199, 199);
    margin-top: 1.5%;
    margin-bottom: 1.5%;
}
.post p{
    width: 200px;
    display: inline-block;
}
.userName{
    font-family: 'Poiret One', cursive;
    text-decoration: none;
    color: black;
    margin-left: 20px;
    font-size: 20px;
    position: absolute;
}
.pic{
    display: flex;
    justify-content: center;
    margin-top: .8%;
    width: 100%;
    height: 500px;
    border: solid rgba(0, 58, 120, 0.42) 1px;
    text-align: center;
}
.pic img{
    max-width: 650px;
    max-height: 500px;
}
.deleteBtn{
    position: absolute;
    top: 1.4%;
    right: 2%;
    width: 30px;
    height: 30px;
    background-color: rgba(36, 36, 36, 0.404);
    background-position: 3px 3px;
    background-size: 40px;
    background-repeat: no-repeat;
    border-radius: 50%;
    box-shadow: rgba(128, 128, 128, 0.246) 3px 3px 3px;
    cursor: pointer;
    outline: none;
    color: white;
}
.likeAndCommentDiv{
    border: solid rgba(0, 58, 120, 0.42) 1px;
    height: 64px;
    /* border-bottom-left-radius: 46px; */
}
.like{
    top: 600;
    left: 0;
    position: absolute;
    border: solid rgba(0, 58, 120, 0.42) 2px;
    /* border-radius: 50px; */
    border-top-left-radius: 0px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    /* border-bottom-left-radius: 48px; */
    width: 150px;
    height: 60px;
    background: radial-gradient(ellipse at bottom, #2f6aad 0%,#090a0f 100%);

    /* box-shadow: 5px 5px 10px   rgb(199, 199, 199); */
}
.like p{
    position: absolute;
    left: 60%;
    top: -33px;
    font-size: 40px;
    color: white;
}
.heart{
    border: solid rgba(0, 58, 120, 0.42) 1px;
    /* border-radius: 50px; */
    border-top-left-radius: 0px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    /* border-bottom-left-radius: 46px; */
    width: 50%;
    height: 58px;
    background-color: white;
    text-align: center;
    font-size: 15px;
}
.likeBtn{
    background-color: transparent;
    margin-left: -20px;
    margin-top: 0px;
    width: 60px;
    height: 60px;
    background-image: url('../images/heart.png');
    background-size: 50px;
    border: none;
    background-repeat: no-repeat;
    background-position:10px ;
    cursor: pointer;
    outline: none;
}
.caption{
    margin-left: 29%;
    margin-top: -10px;
    width: 100px;
}
.commentDiv{
    border: solid rgba(0, 58, 120, 0.42)  1px;
    position: relative;
    margin-left: 29%;
    width:65% ;
    border-radius: 6px;
}
.commentDiv button{
    border: solid rgb(0, 58, 120)  1px;
    position: absolute;
    right: 0;
    outline: none;
    width: 6%;
    height: 100%;
    border-radius:4px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    background: radial-gradient(circle at center,#2f6aad 0%,#090a0f 100%);
    font-size: 115%;
    color: white;
    cursor: pointer;
}
.comment{
    width:92.6% ;
    border: none;
    border-radius: 7px;
    font-size: 20px;
    outline: none;
}
#commentDrop{
    margin-left: 2%;
    /* margin-top: 1%; */
    margin-bottom: 1%;
    outline: none;
    width:65% ;
    border:none;
    font-size: 25px;
    background-color: rgb(240, 240, 240);
    border-radius: 20px;
    
}
#commentDrop-SubDiv{
    display: flex;
    padding: 0;
}
#commentDrop-SubDiv p{
    margin-top: 4px;
}
#commentDrop-SubDiv button{
    cursor: pointer;
    background-color: indianred;
    border-radius: 20px;
    margin-left: 5px;
}
.profileBtn{
    position: absolute;
    width: 50px;
    height: 50px;
    background-image: url('../images/profile.png');
    background-position: 4px 1px;
    background-size: 40px;
    background-repeat: no-repeat;
    /* border: solid black 1px; */
    border-radius: 50%;
    box-shadow: gray 3px 3px 3px;
    cursor: pointer;
    top: 3%;
    left: 8.5%;
    outline: none;
}
.addPhoto{
    position: absolute;
    width: 50px;
    height: 50px;
    background-image: url('../images/add.png');
    background-position: 3px 3px;
    background-size: 40px;
    background-repeat: no-repeat;
    border-radius: 50%;
    box-shadow: gray 3px 3px 3px;
    cursor: pointer;
    top: 12%;
    left: 7%;
    outline: none;
}
.logout{
    font-family: 'Poiret One', cursive;
    font-weight: 900;
    font-size: 13px;
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: white;
    background-position: 3px 3px;
    background-size: 40px;
    background-repeat: no-repeat;
    border-radius: 50%;
    box-shadow: gray 3px 3px 3px;
    cursor: pointer;
    top: 15.3%;
    left: 2%;
    outline: none;
}
.addPhoto:hover , .profileBtn:hover{
    width: 60px;
    height: 60px;
    background-position: 2px 2px;
    background-size: 50px;
    transition: 0.1s;
}
.global-logedIn-user-avatar{
    left: 1.1%;
    top: 2.1%;
    position: absolute;
    display: inline-block;
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    border-bottom: solid black 1px;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 5%;
    border-top-right-radius: 5%;
    border-top-left-radius: 5%;
    background-size: 100px;
    box-shadow:
    0 0 0 10px hsl(0, 0%, 80%),
    0 0 0 15px hsl(0, 0%, 90%);
}

.global-profile-pic{
    display: inline-block;
    margin-left: -1%;
    margin-top: 0%;
    width: 60px;
    height: 60px;
    border-bottom: solid black 1px;
    border-radius: 50%;
    background-size: 60px;
    background-repeat: no-repeat;
    z-index: 10;
    box-shadow:
    0 0 0 5px hsl(0, 0%, 80%),
    0 0 0 10px hsl(0, 0%, 90%);
}