body{
    margin: 0;
}
.profileNav{
    width: 100%;
    /* background-color: rgb(238, 238, 238); */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 90px;
    border-bottom: solid black 2px;
}
.profileAvatar{
    margin-left: 5%;
    margin-top: 30px;
    width: 120px;
    height: 120px;
    box-shadow:
    0 0 0 10px hsl(0, 0%, 80%),
    0 0 0 15px hsl(0, 0%, 90%);
    border-radius: 50%;
    background-size: 120px;
}
.profileName{
    margin-top: 50px;
    margin-left: -70%;
}
.homeBtn{
    font-size: 40px;
    margin-top: 20px;
    margin-left: 80%;
}
.bio{
    margin-top: -50px;
    margin-left: 30%;

}
.bio button{
    margin-right: 10px;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    background: radial-gradient(circle at center,#cacaca 0%,white 100%);
}
.addImgBody{
    text-align: center;
    display: flex;
    justify-content: center;
}
.addImgDiv{
    border: solid black 1px;
    margin-top: 200px;
    width: 500px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 10px 10px 10px gray;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.addImgDiv button{
    width: 70px;
    height: 40px;
    margin-top: 5%;
    /* display: block; */
    border-radius: 20px;
}
.addImgDiv input{
    margin-top: 10%;
    margin-left: 50px;
    max-width: 200px;
    max-height: 100px;
    /* display: block; */
}
.addImgDiv textarea{
    margin-top: 10%;
    width:200px ;
    height:150px ;
    max-width: 300px;
    max-height: 300px;
}
.home{
    padding: 30px;
    font-size: 40px;
}
